body {
    box-sizing: content-box;
   
  }

.container {
 width: 50%;
 height: 50%;
}


.clearfix{
  margin-top: 10px;
  
}

.parrafo{
 margin: 10%;
}

.parrafo1{
  margin: 10%;
 }

 .parrafo2{
  margin: 10%;
 }

 .parrafo3{
  margin: 10%;
 }

img {

}

@media all and (max-width: 600px){
  div{
      width:100%;
      height:auto;
      margin-left:10px;
  }
}