body {
    box-sizing: content-box;
   
  }

.container {
  margin: 2rem;
	display: flex;
 
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    
}


.clearfix{
  margin-top: 10px;
  
}

.parrafo{
 margin: 10%;
}

.parrafo1{
  margin: 10%;
 }

 .parrafo2{
  margin: 10%;
 }

 .parrafo3{
  margin: 10%;
 }

